*
/**

!/cpp00/
!/cpp00/ex00/
!/cpp00/ex01/
!/cpp00/ex02/

!/cpp01/
!/cpp01/**/
!/cpp02/
!/cpp02/**/
!/cpp03/
!/cpp03/**/
!/cpp04/
!/cpp04/**/

!*.cpp
!*.hpp
!.gitignore
!Makefile

/**/.idea
/**/cmake-build-debug
